body{
   background-image: url(bg2.jpg);
    padding: 0px;
    margin: 0px;
}

div.bungkus1{
    border: 2px solid ;
    border-style: none;
    border-radius: 5px;
    width: 350px;
    height: 260px;
    margin: auto;
    margin-top: 110px;
    position: relative;
    background-color:rgba(255, 255, 255, 0.637);
    
}

h3.header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
  
}

.inputV{
    width: 50%;
    height: 30px;
    background-color: white;
    left: 10px;
    border-radius: 5px;
    position: absolute;
    border-style: none;
    outline-style: none;
}

.inputM{
    width: 47%;
    height: 30px;
    background-color:rgb(0, 110, 255);
    color: white;
    border-radius: 0px 5px 5px 0px ;
    position: absolute;
    right: 10px;
    border-style: none;
    outline-style: none;
    
}

.bungkuslogin{

    border: 1px solid;
    position: relative;
    height: 30px;    
    border-style: none;
    margin-bottom: 15px;
}

.pv{
    width: 85%;
    height: 28px;
    margin-left: 23px;
    border: 2px solid rgb(0, 110, 255);
    border-radius: 7px;
    margin-bottom: 8px;
    font-size: 15px;
    text-align: center;
}

.pv::-webkit-input-placeholder{
    text-align: center;
}


.ps{
    width: 85%;
    height: 28px;
    margin-left: 23px;
    border: 2px solid rgb(0, 110, 255);
    border-radius: 7px;
    margin-bottom: 8px;
    font-size: 15px;
    text-align: center;
}

.ps::-webkit-input-placeholder{
    text-align: center;
}

.login{
    width: 87%;
    height: 34px;
    margin-left: 23px;
    border: 2px solid rgb(0, 110, 255);
    border-radius: 7px;
    background-color: rgb(0, 110, 255);
    color: whitesmoke;
    font-size: 16px;
}

div.bungkus2{
    border: 2px solid ;
    border-style: none;
    border-radius: 5px;
    width: 350px;
    height: 150px;
    margin: auto;
    margin-top: -11px;
    background-color:rgba(255, 255, 255, 0.637);
    
}

.header2{
    border-bottom: 1px solid grey;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
}

td.judultabel{
    background-color: rgb(0, 110, 255);
    color: whitesmoke;
    
}

td.badantabel{
    background-color: whitesmoke;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.border{
    margin: auto;
    margin-top: 10px;
}

div.bungkus3{
    border: 2px solid ;
    border-style: none;
    border-radius: 5px;
    width: 350px;
    height: 50px;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 0px;
    background-color:rgba(255, 255, 255, 0.637);
}

p.copyrigt{
    position: absolute;
    bottom: 15px;
    left: 20px;
}

p.powered{
        position: absolute;
        bottom: 0px;
        left: 40px;
}

div.wcp{
    font-size: 11px;
}

